.post_room {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: min(90%, 90rem);
}
.ant-modal-title {
    text-align: center;
}
.mb-1 {
    margin-bottom: 1rem;
}
.note {
    color: #777;
    font-size: 1.25rem;
    line-height: 20px;
    padding: 20px 0 20px 0;
}
.title-upload {
    margin-bottom: 12px;
}
