#header.ant-layout-header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 6.4rem;
    box-shadow: var(--get-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        &-img {
            width: 50%;
            object-fit: cover;
            background-color: rgba($color: var(--primary-color), $alpha: 0.5);
        }

        span {
            font-size: 2rem;
            font-weight: 500;
            color: var(--primary-color);
        }
    }

    .top-action {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

        > *:not(:first-child) {
            margin-left: 2rem;
        }

        .btn-action {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            &:is(a):hover {
                color: var(--primary-color-light);
            }

            .icon {
                margin-right: 0.5rem;
            }
        }
        .btn-text-color {
            color: #fff;
        }
        .ant-divider {
            height: 2rem;
            margin: 0 0 0 2rem;
        }
        a {
            color: var(--text-color-light);
        }
    }
}
