.rooms {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 3rem 1.5rem;
    margin: 2rem 0;

    > li {
        list-style-type: none;
    }

    & + .ant-pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}
